/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/pgdb -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test COSMIC generation'

  // Input data for full size test
  ensembl_name = 'homo_sapiens'
  ensembl = false
  gnomad = false
  cosmic = false
  cosmic_celllines = false
  cbioportal = true
  decoy = true
}
